<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>체험농장예약시스템</title>
</head>

<body>
  <h1 style="text-align: center">체험농장 예약시스템</h1>
  <div style="display: flex; justify-content: flex-end;">
    <div>
      <% if(is_logined==false) { %>
        <button onclick="location.href='/login'">로그인</button>
        <button onclick="location.href='/register'">회원가입</button>
        <% } else { %>
          <% if (FarmYN==1) { %>
            <p>농장주 <%=name %>님</p>
            <% } else { %>
              <p>사용자 <%=name %>님</p>
              <% } %>
                <button onclick="location.href='/mypage'">마이페이지</button>
                <button onclick="location.href='/logout'">로그아웃</button>
                <% } %>
    </div>
  </div>
  <button onclick="location.href='../'">메인페이지</button>
  <hr>
  <form action='/programRegist' method='post'>
    <input type="hidden" name="PostNum" value="<%= postNum %>">
    <div style="display:flex; justify-content: center">
      <div>
        프로그램 이름<br> <input type='text' name='PrgName' style="width:300px;" required><br><br>
        프로그램 시작 날짜 : <input type="date" name="PrgStartDate"style="width:150px;" required><br><br>
        프로그램 종료 날짜 : <input type="date" name="PrgEndDate"style="width:150px;" required><br><br>
        프로그램 가격 : <input type='number' min="1" value="10000" name='PrgPrice' style="width:100px;" required>원<br><br>
        프로그램 최대인원 : <input type='number' min="1" value="1" name='PrgMax' style="width:50px;" required>명<br><br>
        프로그램 시작시간 : <input type='time' name='PrgStart' style="width:170px;" required><br><br>
        프로그램 종료시간 : <input type='time' name='PrgEnd' style="width:170px;" required><br><br>
        <button type="submit" class="btn col-md-12 blue1" name="ID" value="<%=ID%>">추가</button>
      </div>
    </div>
  </form>
</body>

</html>